body {
    background-color:white;
}
.row .kanan li{
    float: left;
    list-style: none;
    width: 15%;
    line-height: 14px;
}
.row .kanan li a {
    color: white;
}
.row .kanan li a:hover {
    color: #FFBEA8;
    text-decoration: none;
}